/* Настройки проекта */

:root {
  --white: #fff;
  --black: #000;
  --bg: #ece7ca;
  --accent: #e67b23;
  --base-tr: 0.3s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--white);
  background-color: var(--bg);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (hover: hover) {
  a:hover {
    color: var(--accent);
  }

  button:hover {
    background: transparent;
    border-color: var(--accent);
    color: var(--accent);
  }

  .header-logo:hover {
    transform: rotate(360deg);
  }
}

a {
  color: var(--black);
  text-decoration: none;
  transition: var(--base-tr);
}

button {
  font-family: inherit;
  color: var(--white);
  background-color: var(--accent);
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: var(--base-tr);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: min(1240px, 100% - 30px);
  margin-inline: auto;
}

/* Шапка */

.header {
  margin-top: 40px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  background-color: var(--white);
  border-radius: min(30px, 60px);
  padding: 15px 5%;
}

.header-logo {
  display: flex;
  transform: rotate(0deg);
  transition: 0.6s;
}

.header-icon-logo {
  width: 30px;
}

.header-list {
  display: flex;
  font-size: 20px;
}

.header-list-item:not(:last-child) {
  margin-right: min(3.2vw, 30px);
}
